.compat-ng {
  /*border: 3px solid purple;*/
}

.compat-ng .compat-table {
  width:100%;
}
.compat-ng .compat-table th {
  word-wrap: break-word;
  font-size: 0.87em;
}
.compat-ng .compat-table td {
  vertical-align: top;
  padding:1%;
  /* padding:1%; */
}
.compat-ng .compat-table dl {
  /*background-color: yellow;*/
  margin:0;
  overflow: hidden;
}
.compat-ng .compat-table dt,
.compat-ng .compat-table dd {
  font-size: 0.87em;
  margin:0;
  padding: 2px 0;
  float:left;
}
.compat-ng .compat-table dt {
  /*background-color:pink;*/
  margin-right: 3%;
  clear:left;
}
.compat-ng .compat-table dd {
  /*background-color:purple;*/
  width: 60%;
  font-weight:normal !important;
  overflow: hidden;
  word-wrap: break-word;
}

.compat-ng .compat-shaded {
  opacity: 0.5;
}

.compat-ng .compat-prefix {
  border-color: white;
  background: rgb(70,183,228);
  background: -moz-linear-gradient( rgba(70,183,228,1) 0%,rgba(74,125,186,1) 100%);
  background: -webkit-linear-gradient( rgba(70,183,228,1) 0%,rgba(74,125,186,1) 100%);
  background: -o-linear-gradient( rgba(70,183,228,1) 0%,rgba(74,125,186,1) 100%);
  background: linear-gradient( rgba(70,183,228,1) 0%,rgba(74,125,186,1) 100%);
}