hgroup {
  text-align: center;
}

  hgroup h1 {
    font-size: 800%;
    font-weight: bold;
    letter-spacing: -.1em;
  }

    hgroup h1 img {
      height: 1.5em;
    }

  hgroup h2 {
    font-size: 300%;
  }

  hgroup + p {
    font-size: 140%;
  }

#content {
  margin-top: 1em;
  font-size: 110%;
  line-height: 1.5;
}

  #content p {
    line-height: 1.5;
  }
