#p-search{
    zoom:1;
    display: inline;
}

#p-personal{
    zoom:1;
    display: inline;
}

.links li{
    zoom:1;
    display: inline;
}

#right-navigation{
    float: none;
    zoom:1;
    display: inline;
}

#left-navigation{
    zoom:1;
    display: inline;
}

#sidebar{
    margin: 0;
    margin-right: -15px;
}

#page-content{
    padding-top: 0;
}