   body {
      position: relative;
      z-index: -1;
   }

   img {
      max-width: 100%;
   }

   iframe {
      border: none;
   }

   .sideby {
      float: left;
      width: 30%;
      padding: 1em 5% 1em 5%;
   }

   .sideby p {
      height: 14em;
   }

   .palette {
      float: left;
      width: 12em;
   }

      .palette > span {
         display: block;
         width: 9em;
         height: 2em;
      }

      .palette > ul {
         list-style: none !important;
         padding-left: 0;
      }

      .palette .format {
         color: gray;
      }

      .palette span.value {
         display: inline-block;
         text-align: right;
         color: black;
      }

   img.sidenote {
      float: left;

   }

   aside.sidenote {
      display: inline-block;
      font-style: italic;
      text-align: right;
      width: 15em;
      padding: 2em;
   }


   h2, h3, h4 {
      clear: both;
   }