body {
	position: relative;
}

.logo {
	position: relative;
	float: right;
	padding: 15px;
	padding-bottom: 0;
	border: 1px solid hsla(45, 18%, 60%,.5);
	margin: -1em .1em .5em .5em;
	background-color: hsl(45, 18%, 83%);
	box-shadow: 2px 3px 5px rgba(0,0,0,.2), 0 1px hsla(0,0%,100%,.8) inset;
}

	.logo:before {
		content: '';
		position: absolute;
		top: 0;
		right: -11px;
		z-index: -1;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-bottom-color: hsl(45, 18%, 60%);
		border-top: 0;
	}

	.logo img {
		display: block;
		width: 240px;
		padding: 10px;
		border-radius: 10px;
		background: white;
	}

	.logo:after {
		content: 'WebPlatform.org Steward';
		display: block;
		font-size: 14pt;
		text-align: center;
		color: hsl(45, 18%, 44%);
		text-shadow: 0 .1em .1em hsla(0,0%,100%,.6);
	}

.link-list {
    margin:auto;
    width:800px;
    height:150px;
}

.tile{
    width:248px;
    height:145px;
    float:left;
    overflow:hidden;
    position:relative;
    border: 1px solid #E7E7E5;
}

.tile .content{
    position:absolute;
    display:block;
    top:120px;
    width:100%;
    min-height:50px;
    background-color: #B6DDE4;
    padding:5px 5px 5px 5px;
    color: #467883;
    box-sizing: border-box;
}

.tile .content h1{
    margin:0;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
}

.tile .content p{
    font-size: 0.8em;
    line-height: 1.2em;
}

.tile.center{
    margin:0 8px 0 8px;
}
