/**
 * CSS overrides to keep
 * images on same domain
 */
@font-face {
  font-family: 'WPSymbols';
  src:url('/assets/fonts/WPSymbols.eot');
  src:url('/assets/fonts/WPSymbols.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/WPSymbols.svg#WPSymbols') format('svg'),
    url('/assets/fonts/WPSymbols.woff') format('woff'),
    url('/assets/fonts/WPSymbols.ttf') format('truetype');
}

@font-face{
  font-family: 'Gudea';
  font-weight: normal;
  src: url('/assets/fonts/gudea-regular-webfont.eot');
  src: url('/assets/fonts/gudea-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/gudea-regular-webfont.woff') format('woff'),
     url('/assets/fonts/gudea-regular-webfont.ttf') format('truetype'),
     url('/assets/fonts/gudea-regular-webfont.svg#GudeaRegular') format('svg');
}

@font-face{
  font-family: 'Gudea';
  font-weight: bold;
  src: url('/assets/fonts/gudea-bold-webfont.eot');
  src: url('/assets/fonts/gudea-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/gudea-bold-webfont.woff') format('woff'),
     url('/assets/fonts/gudea-bold-webfont.ttf') format('truetype'),
     url('/assets/fonts/gudea-bold-webfont.svg#GudeaRegular') format('svg');
}

@font-face{
  font-family: 'Gudea';
  font-weight: normal;
  font-style: italic;
  src: url('/assets/fonts/gudea-italic-webfont.eot');
  src: url('/assets/fonts/gudea-italic-webfont.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/gudea-italic-webfont.woff') format('woff'),
     url('/assets/fonts/gudea-italic-webfont.ttf') format('truetype'),
     url('/assets/fonts/gudea-italic-webfont.svg#GudeaRegular') format('svg');
}

@font-face{
  font-family: 'Bitter';
  font-weight: normal;
  src: url('/assets/fonts/bitter-regular-webfont.eot');
  src: url('/assets/fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/bitter-regular-webfont.woff') format('woff'),
     url('/assets/fonts/bitter-regular-webfont.ttf') format('truetype'),
     url('/assets/fonts/bitter-regular-webfont.svg#BitterRegular') format('svg');
}

@font-face{
  font-family: 'Bitter';
  font-weight: bold;
  src: url('/assets/fonts/bitter-bold-webfont.eot');
  src: url('/assets/fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/bitter-bold-webfont.woff') format('woff'),
     url('/assets/fonts/bitter-bold-webfont.ttf') format('truetype'),
     url('/assets/fonts/bitter-bold-webfont.svg#BitterBold') format('svg');
}

@font-face{
  font-family: 'Bitter';
  font-weight: normal;
  font-style: italic;
  src: url('/assets/fonts/bitter-italic-webfont.eot');
  src: url('/assets/fonts/bitter-italic-webfont.eot?#iefix') format('embedded-opentype'),
     url('/assets/fonts/bitter-italic-webfont.woff') format('woff'),
     url('/assets/fonts/bitter-italic-webfont.ttf') format('truetype'),
     url('/assets/fonts/bitter-italic-webfont.svg#BitterBold') format('svg');
}

@font-face {
  font-family: 'WPSymbols';
  src:url('/assets/fonts/WPSymbols.eot');
  src:url('/assets/fonts/WPSymbols.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/WPSymbols.svg#WPSymbols') format('svg'),
    url('/assets/fonts/WPSymbols.woff') format('woff'),
    url('/assets/fonts/WPSymbols.ttf') format('truetype');
}

#jump-to-nav,.mw-jump {display:none}

html {
  background-color: #F0EBDD;
  background-image: linear-gradient(transparent 50%, rgba(219,215,202,.2) 50%);
  background-size: 3px 3px;
}

#search > input[type="submit"] {
  background-image: url('/assets/btn-search.svg') !important;
}

#p-logo a { /* Playing with cascade and specifity over squished.css */
  background:#f9f7f3 url('/assets/logo.png');
  background:hsl(40,29%,96%) url('/assets/logo.svg');
  background-repeat:no-repeat;
  background-position:center;
}

#sitenav {
  background-image: url('/assets/nav-bg.png');
}

footer ul.stewards > li > a {
  background-image: url('/assets/footer-images.png') !important;
}

@media screen and (max-width:950px) {
  /* stewards/adobe/ testimonial boxes */
  blockquote.testimonial {
    margin-right:0;
  }
  /* error pages logo /errors/404.html */
  hgroup h1 img {
    margin-bottom:0.2em;
  }
}
