body{ margin: 0; padding: 0; font-family: Palatino; }

#events { display: none; } 
#important{ display: none; } 

a
{
	color: #2D605D;
}

#toolbar
{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	background-color: white;
	border-bottom: #69E8E4 5px solid;
}

	#toolbar_inner
	{
		padding-top: 2px;
		text-align: center;
	}

	#toolbar #searchbox
	{
		width: 150px;
		border: 4px solid #69E8E4;
		padding: 10px 4px;
		margin-left: 4px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	} 

	#toolbar #searchbutton
	{
		display:none;
	}

	#toolbar .toolbutton
	{
		border: 4px solid #69E8E4;
		padding: 8px 4px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		text-decoration: none;
		font-size: small;
		background-color: #DEDEDE;
	}

	#toolbar a:hover
	{
		background-color: #CECECE;
	}

	#loading
	{
		position: absolute;
		right: 1em;
		top: 5px;
	}

#content
{
	margin-top: 55px;
	background-color: #EEE;
	color: #222;
}

#irc 
{
	list-style-type: none;
	border-spacing: separate;
	width: 100%;
	table-layout: fixed;
}

	#irc tr:nth-of-type(2n)
	{
		background-color: #DEDEDE;
	}

	#irc .name
	{
		width: 25%;
		max-width: 100px;
		text-align: right;
		word-wrap: break-word;
		font-weight: bold;
	}

	#irc  .date
	{
		width: 15%;
		max-width: 100px;
		word-wrap: break-word;
		font-size: x-small;
		text-align: right;
		padding-right: 1em;
	}
	
	#irc .message
	{
		width: 60%;
		word-wrap: break-word;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	#irc .pubmsg
	{

	}

	#irc  .join, #irc .join a
	{
		font-size:small;
		color: green;
	}

	#irc  .action, #irc .action a
	{
		color: purple;
	}

	#irc .topic, #irc .topic a
	{
		color: blue;
		padding: 0.5em 0.5em 0.5em 0.5em;
		margin: 0.5em 0.5em 0.5em 0.5em;
	}

	#irc .nick, #irc .nick a
	{
		color: darkblue;
	}

	#irc .quit, #irc .quit a
	{
		font-size: small;
		color: #666;
	}
	
	.tag
	{
		font-weight: bold;
	}
	
	#footer
	{
		font-size: xx-small;
		text-align: right;
		margin-top: 10px;
	}

	.searchresult
	{
		border-spacing: 0 20px;
	}
	
		.searchresult tbody tr
		{
			border: 1px solid black;
		}
	
		.searchresult tbody tr td
		{
			background-color: #CCC;
			padding: 0.5em 0;
		}
